---
layout: default
---

<!-- about.html -->
      <div class="post">
        <article>
          <div class="clearfix">
            {{ content }}
          </div>

          <br>
          <h2 style="color: inherit;">Important Dates</h2>
          <div class="news">
            <div class="table-responsive">
              <table class="table table-sm table-borderless">
                {% for item in site.data.dates %}
                <tr>
                  <th scope="row" style="padding-top: .2rem; padding-bottom: .2rem;">{{ item.date | markdownify }}</th>
                  <td style="padding-top: .2rem; padding-bottom: .2rem;">{{ item.content | markdownify }}</td>
                </tr>
                {% endfor %}
              </table>
            </div>
          </div>


          <!-- Social -->
          {%- if page.social %}
            <div class="social">
              <div class="contact-icons">
                {% include social.html %}
              </div>

              <div class="contact-note">
                {{ site.contact_note }}
              </div>

            </div>
          {%- endif %}
        </article>

</div>
